
</div>
  <footer>
    <p style="text-align: center; margin-top: 10px;">Made with ❤️ by <a href="https://www.linkedin.com/in/shrikar-tamirisa-1b79511b8/" target="_blank">Shrikar</a></p>
  </footer>

</body>
</html>
