<%- include('partials/header'); %>
<h1>Turbulence: nature’s riddle to the modern human!</h1>
<p>
    Be it a gusty day, or a storm, a cyclone or the flying planes, rockets or sailing ships and boats, every activity associated with fluids has a beautiful phenomenon hidden inside, known as Turbulence! In fact, the turbulent flow is what brings beauty to nature.


There have been various attempts by scientists since ages, to describe the flow phenomenon of turbulence accurately. One of the oldest theories explaining turbulence was Boussinesq’s eddy viscosity theory. Further advances brought us to the Prandtl Mixing length theory, the Burgers Turbulence and many more. But the origin to all theories is the Navier-Stokes Equation of fluid flow. Interestingly, there has been no solution to this equation to date and is one of the 7 Millennium Problems.

A small caveat is that this is not a textbook summary of all the turbulence theories but it is about the beauty of human imagination that has been put to understand such a complex and intriguing concept about which I love to learn more.

Thinking about turbulence, I tried bridging this scientific concept to a philosophical aspect of life. Just like how turbulence is crucial in various scientific and engineering applications, which makes our life easier day after day, the labyrinthine ups and downs bring beauty to our lives. Just like how turbulent shear causes loss of energy, we too may lose our energy and deviate from our main motto due to various challenges in our lives. However, the preparedness to face any life challenge makes us stronger and more successful. With this piece of note, I wish you all a peaceful and beautiful new year!

(Fun Fact: (Earth Date) 26 December 2022 was the new year 038 for Mars. So happy new year to my Martian readers too! ☺)


</p>
<br>
<%- include('partials/footer'); %>