<%- include('partials/header'); %>

<h1>What would you like to compose today...?</h1>
<br>
<br>

<div class="row">
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body" style="text-align: center;">
            <i class="fa-solid fa-atom fa-10x"></i>
            <br>
            <br>
          <a href="/compose" class="btn btn-warning btn-lg">Blog</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body" style="text-align: center;">
            <i class="fa-solid fa-feather fa-10x"></i>
            <br>
            <br>
          <a href="/poem_comp" class="btn btn-warning btn-lg">Poem</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('partials/footer'); %>