<%- include('partials/header'); %>
<h1>Contact</h1>
<br>
<h3><a href="https://www.linkedin.com/in/abhiram-kalluri/" target="_blank">Abhiram Kalluri</a></h3>
<p>Chief Blogger</p>
<br>
<hr style="height:2px;border-width:0;color:rgb(37, 230, 172);background-color:rgb(37, 230, 172)">


<h3><a href="https://www.linkedin.com/in/shrikar-tamirisa-1b79511b8/" target="_blank">Shrikar Tamirisa</a></h3>
<p>Developer</p>
<%- include('partials/footer'); %>