<%- include('partials/header'); %>

<div class="jumbotron">
    <h1 class="display-4">Aw Snap!</h1>
    <p class="lead">Your key didn't match with ours!😔</p>
    <hr class="my-4">
    <p>In case you are new here and want to contribute to the blog, please contact the developer for the security key.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/login" role="button" style="color: white;">Try Again!</a>
    </p>
  </div>

<%- include('partials/footer'); %>